body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f2f4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}


::placeholder {
  font-family: 'Poppins', sans-serif;

}


:focus {
  outline: none;
}

input, textarea, select {
  font-family: 'Poppins', sans-serif;

}